@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}

.flexsearch--form {
	overflow: hidden;
	position: relative;
}

.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 80px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  margin: 25px;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}


body#body1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../imagenes/cielo.jpg");
    background-size: cover;
}


div#informacion{
    position: absolute;
    left: calc(50% - 725px);
    top: calc(50% - 200px);
    min-width: 50%;
    min-height: 100px;
    /*border: 10px solid rgba(255, 255, 255, 0.6);*/
    background-color: rgba(255, 255, 255, 0.3);

}

div#informacion td{
  font-family: 'Exo', sans-serif;
}

table#tabla-info{
  font-size: 1.6em;
  width: 100%;
}

table#tabla-info td{

  border: 5px solid rgba(255, 255, 255, 0.6);
  min-width: 250px;
}

tr#titulo-row td{
  color: black;
  font-size: 1.1em;
  font-weight: bold;

}

tr.info td{
  color: black;
}

p.not{
	position: absolute;
	left: calc(50% - 45px);
	top: calc(50% - 200px);
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 1.3em;
}
